# .gitattributes
# default behavior, in case people don't have core.autocrlf set
* text=auto

# gdl files should display properly everywhere
*.gdl  text eol=crlf

# truly binary; should not be modified
*.png  binary
*.jpg  binary
*.gsm  binary

# exlude from statistics
docs/*  linguist-vendored
