# .gitignore
ideas/
todo.md

# no big binaries / proprietary image files in git
Objects/*/img/*.psd
Objects/*/img/*.ai

# no PLN files I just use for testing
Objects/*/*/*.pln

docs/_img/
# no jekyll stuff
docs/_site/
.sass-cache
.jekyll-cache
.jekyll-metadata

# IDE stuff
*.sublime-*
*.code-workspace
